.nav {
  font-family: "Graphik LCG", "Helvetica", sans-serif;
}

.nav__list {
  .ul();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__link {
  .text (12px; 15px; @black; 400);

  &--current {
    color: @scarlet;
  }
}
