.product__title {
  .text(30px; 39px; @black; 400);

  @media (min-width: @tablet-width) {
    .text(45px; 54px; @black; 400);
  }
}

.product__text {
  .text(16px; 24px; @black; 400);

  @media (min-width: @tablet-width) {
    .text(20px; 28px; @black; 400);
  }
}

.product__link {
  color: @white;
  font-weight: normal;
  font-family: "HelveticaNeueCyr", "Helvetica", sans-serif;
  background-color: @black;
}

.product__trademark {
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    width: 224px;
    height: 55px;
    margin-bottom: 40px;
  }
}

.product__img {
  width: 100%;
  height: 347px;
  overflow: hidden;
  background: @bgimage url("../../img/product.jpg") center no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 580px;
    height: 335px;
    margin: 0 auto;
  }
}
