.support__link {
  font-family: "HelveticaNeueCyr", "Helvetica", sans-serif;
  .text(10px; 15px; @white; 400);
  @media (min-width: @tablet-width) {
    font-family: "Helvetica", sans-serif;
  }

  &--tel {
    font-family: "Graphik LCG", "Helvetica", sans-serif;
    .text(14px; 16px; @white; 400);
  }
}
